{%extends 'base.html'%} {% load cart%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup</title>
  </head>
  <body>
    {%block content%}
    <div class="container" style="margin-top:70px;">
      <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Orders</p>
        <hr />
        <!-- {{products}}-->.

        <table class="table">
          <thead>
            <tr>
              <th>Sno.</th>
              <th>Image</th>
              <th>Product</th>
              <th>Date</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            {% for order in orders%}
             <tr>
              <td>{{forloop.counter}}.</td>
              <td>
                <img
                  style="height: 80px"
                  class="rounded-circle"
                  src="{{order.product.image.url}}"
                />
              </td>
              <td>{{order.product.name}}</td>
              <td>{{order.date}}</td>
              <td>{{order.price|currency}}</td>
              <td>{{order.quantity}}</td>
              <td>{{order.quantity|multiply:order.price|currency}}</td>

              {% if order.status %}
              <td><small class="badge badge-success">Completed</small></td>
              {%else%}
              <td><small class="badge badge-warning">Pending</small></td>
              {%endif%}
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>

    {%endblock%}
  </body>
</html>
